<main>
  <section class="title-container">
    <h1>{{ t('training.training_title' ) | async }}</h1>
    <p>
      {{ t('training.training_description' ) | async }}
    </p>
  </section>
  <section class="cards-container">
    <div class="formation-container">
      <div>
        <div class="formation-top">
          <h2>{{ t('training.formation.title_h2' ) | async }}</h2>
          <h3>{{ t('training.formation.title_h3' ) | async }}</h3>
        </div>
        <div class="formation-bottom">
          <p>{{ t('training.formation.course' ) | async }}</p>
          <p>{{ t('training.formation.year' ) | async }}</p>
        </div>
      </div>

    </div>
    <div class="course-container">
      <h3> <i class="fa-solid fa-scroll"></i> {{ t('training.certification_title') | async }}</h3>
      <div class="course-container ">

        <div *ngFor="let certifications of certification">
          <app-course-card [course]="certifications" [name]="t('training.course_card_title') | async" [year]="t('training.course_card_year') | async"></app-course-card>
        </div>
      </div>
    </div>
    <div class="course-container">
      <h3> <i class="fa-solid fa-book"></i> {{ t('training.courses_title') | async }}</h3>
      <div class="course-container scrool">

        <div *ngFor="let item of training">
          <app-course-card [course]="item" [name]="t('training.course_card_title') | async" [year]="t('training.course_card_year') | async"></app-course-card>
        </div>
      </div>
    </div>



    <div class="language-container">
      <h3><i class="fa-solid fa-language"></i> {{ t('training.languages_title') | async }}</h3>
      <div class="language-content">

      </div>
      <div *ngFor="let ing of english">
        <app-course-card [course]="ing" [name]="t('training.course_card_title') | async" [year]="t('training.course_card_year') | async"></app-course-card>
      </div>
    </div>

  </section>
</main>