@use '../../shared/utils/scss/mixins.scss' as *;
@use '../../shared/utils/scss/variable.scss' as var;

main {
   @include containerPages;
    .scrool{
        padding: 10px 20px;
        overflow-y: scroll;
        height: 500px;
    }
    .scrool::-webkit-scrollbar {
        width: 6px;
        
      }
      
      .scrool::-webkit-scrollbar-track{
      margin-block: .5em;
      border-radius: 100vw;
      }
      
      .scrool::-webkit-scrollbar-thumb{
        background: #898989;
        border-radius: 30px;
      
      }
    .title-container {
      @include titleContainer;
    }

    .cards-container {
        @include cardContainer;
        .formation-container {
            display: flex;
            flex-flow: column;
            padding: 20px;
            background: var.$text-button;
            border-radius: 16px;

            .formation-top {
                padding-bottom: 30px;

                h2 {
                    @include pageParagraph;
                }

                h3 {
                    font-size: 18px;
                    @include subtitle;
                }
            }

            .formation-bottom {
                display: flex;
                justify-content: space-between;

                p {
                    @include pageParagraph
                }

            }


        }

        .course-container {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 20px;
                @include subtitle;
            }

           
        }

        .language-container {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 20px;
                @include subtitle;

            }

            .language-content {
                display: flex;
                justify-content: space-between;

                p {
                    @include pageParagraph;
                }
            }
        }
    }

}

