@use 'variable.scss' as var;

@mixin roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin poppins-regular {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

@mixin poppins-medium {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
}

@mixin poppins-semibold {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: normal;
}

@mixin boxShadow($first, $second, $third, $fourth, $alpha) {
  box-shadow: $first $second $third $fourth rgba($color: #737373, $alpha: $alpha);
}

@mixin button($paddingy, $paddingx) {
  font-size: 16px;
  background: var.$buttonBg;
  color: var.$text-button;
  @include poppins-semibold;

  padding: $paddingy $paddingx;
  border-radius: 32px;
  align-self: flex-end;
  cursor: pointer;

  @media (max-width:500px) {
    align-self: center;
  }

}

@mixin Title {
  color: var.$primary;
  font-size: 50px;
  @include poppins-semibold;
}

@mixin subtitle {
  color: var.$primary;
  font-size: 20px;
  @include poppins-semibold;
}

@mixin pageParagraph {
  color: var.$primary;
  font-size: 16px;
  max-width: 50ch;
  @include poppins-regular;
}

@mixin containerPages {
  display: grid;
  gap: 50px;
  grid-template-columns: 500px auto;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 80px;

  @media (max-width:800px) {
    grid-template-columns: 1fr;
  }
}

@mixin titleContainer {
  display: flex;
  flex-flow: column;
  gap: 20px;
  h1 {
    @include Title;
  }

  p {
    @include pageParagraph;
  }

  @media (max-width:800px) {
    margin: 0 20px;

  }
}

@mixin cardContainer {
  display: flex;
  flex-flow: column;
  gap: 50px;
  padding-bottom: 60px;

  @media (max-width:800px) {
    margin: 0 20px;

  }

}