@mixin roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  @mixin roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  @mixin roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  @mixin poppins-regular {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  @mixin poppins-medium {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
  }
  
  @mixin poppins-semibold {
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: normal;
  }

  @mixin boxShadow($first,$second,$third,$fourth,$alpha){
    box-shadow: $first $second $third $fourth rgba($color: #737373, $alpha: $alpha);
  }