@mixin roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin poppins-regular {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

@mixin poppins-medium {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
}

@mixin poppins-semibold {
  font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: normal;
}

@mixin boxShadow($first, $second, $third, $fourth, $alpha) {
  box-shadow: $first $second $third $fourth rgba($color: #737373, $alpha: $alpha);
}

@mixin button($paddingy, $paddingx) {
  @include poppins-semibold;
  font-size: 16px;
  background: $buttonBg;
  color: $text-button;

  padding: $paddingy $paddingx;
  border-radius: 32px;
  align-self: flex-end;
  @media (max-width:500px) {
    align-self: center;
  }
  cursor: pointer;
}

@mixin Title {
  @include poppins-semibold;
  color: $primary;
  font-size: 50px;
}

@mixin subtitle {
  @include poppins-semibold;
  color: $primary;
  font-size: 20px;
}

@mixin pageParagraph {
  @include poppins-regular;
  color: $primary;
  font-size: 16px;
  max-width: 50ch;
}

@mixin containerPages {
  display: grid;
  gap: 50px;
  grid-template-columns: 500px auto;

  @media (max-width:800px) {
    grid-template-columns: 1fr;
  }
}

@mixin titleContainer {
  display: flex;
  flex-flow: column;
  gap: 20px;

  @media (max-width:800px) {
    margin: 0 20px;

  }

  h1 {
    @include Title;
  }

  p {
    @include pageParagraph;
  }
}

@mixin cardContainer {
  display: flex;
  flex-flow: column;
  gap: 50px;

  @media (max-width:800px) {
    margin: 0 20px;

  }
  padding-bottom: 60px;
}