iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 4px;

    video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.load-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    @media(max-width: 500px){
        height: 150px;
    }

}
