<header >
  <nav>
      <a routerLink="/"><i class="fa-solid fa-house"></i> <span class="header-mobile">Inicio</span></a>
    <ul>
      <li><a routerLink="/experiencia"><i class="fa-solid fa-briefcase"></i> <span class="header-mobile">Experiencia</span></a></li>
      <li><a routerLink="/formacao"><i class="fa-solid fa-book"></i> <span class="header-mobile">Formação</span> </a></li>
      <li><a routerLink="/projetos"><i class="fa-regular fa-folder"></i> <span class="header-mobile">Projetos</span> </a></li>
      <li><a routerLink="/contato"><i class="fa-solid fa-envelope"></i> <span class="header-mobile">Contato</span> </a></li>
    </ul>
  </nav>
</header>
