@import '../../shared//utils/scss/variable.scss';
@import '../../shared//utils/scss/mixins';
header{
    background: $primary;
    padding: 30px;
    display: flex;
    justify-content: center;
    @media (max-width:500px) {
        .header-mobile{
            display: none;
        }
    }
}
nav{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    a{
        @include poppins-semibold;
        color: $text-button;
        display: flex;
        align-items: center;
        gap: 10px;

    }
    ul{
        display: flex;
        flex-flow: row wrap;
        gap: 40px;
        flex-flow: row wrap;
        
    }
}