@use '../../shared//utils/scss/variable.scss' as var;
@use '../../shared//utils/scss/mixins' as *;

header {
  background: var.$bg-header;

  .header-container {
    margin: 0 auto;
    padding: 30px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  a {
    color: var.$text-header;
    display: flex;
    align-items: center;
    gap: 10px;
    @include poppins-semibold;
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    ul {
      display: flex;
      gap: 30px;
      align-items: center;

    }
  }

  .language-toggle {
    display: flex;
    align-items: center;
  }

  @media (max-width: 500px) {
    .header-mobile {
      display: none;
    }
  }
}