@use '../../shared//utils/scss/variable.scss' as var;
@use '../../shared//utils/scss/mixins' as *;
header{
    background: var.$bg-header;
    padding: 30px;
    display: flex;
    justify-content: center;
    @media (max-width:500px) {
        .header-mobile{
            display: none;
        }
    }
}
nav{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    a{
        color: var.$text-header;
        display: flex;
        align-items: center;
        gap: 10px;
        @include poppins-semibold;

    }
    ul{
        display: flex;
        flex-flow: row wrap;
        gap: 40px;
        flex-flow: row wrap;
        
    }
}