<main class="introducao">

  <div>
    <h1 class="fonte-5 line-2"> Desenvolvedor Front end</h1>
    <div>
      <p class="experiencia-texto cor-01 fonte-4 line-4">
        Ola, bem vindo ao meu site, sou um desenvolvedor Front end, em 2020 eu iniciei meus estudos no instituto federal
        de goias e em 2021 eu conheci o front end e iniciei minha jornada de estudos e acabei me apaixonando pelo
        desenvolvimento desde então eu venho me especializando com cursos e projetos praticos.
      </p>
      <strong class="cor-02"></strong>

    </div>

  </div>

  <div class="skills flex flex-column flex-wrap ">
    <h1 class="fonte-5 line-2" style="">Skills</h1>
    <div class="flex flex-wrap justify-content-around">
      <i class="devicon-html5-plain colored" style="font-size: 3rem"></i>
      <i class="devicon-css3-plain" style="font-size: 3rem"></i>
      <i class="devicon-sass-original" style="font-size: 3rem"></i>
      <i class="devicon-react-original colored" style="font-size: 3rem"></i>
      <i class="devicon-postgresql-plain-wordmark colored" style="font-size: 3rem"></i>
      <i class="devicon-javascript-plain" style="font-size: 3rem"></i>
      <i class="devicon-java-plain colored" style="font-size: 3rem"></i>
      <i class="devicon-typescript-plain colored" style="font-size: 3rem"></i>
      <i class="devicon-git-plain colored" style="font-size: 3rem"></i>
    </div>
  </div>

</main>



