<footer class="footer" id="contato">
  <div class="footer-container flex justify-content-around  py-6 border-none bottom-0">
    <p class="footer-texto fonte-4 line-3 cor-09 w-3">Estou disponível para novos projetos no
      momento. Entre em contato comigo e marcamos uma conversa 👋</p>
    <ul class="footer-contato flex align-self-end">
      <li class="fonte-4 line-0 cor-08"><a href="mailto:weuller1561@gmail.com" class="cor-08"><i
        class="pi pi-envelope
 p-2" style="font-size: 1.5rem"></i></a>
      </li>
      <li class="fonte-4 line-0 cor-08"><a href="https://wa.me/5561982995230" class="cor-08"><i
        class="pi pi-whatsapp p-2"
        style="font-size: 1.5rem"></i></a></li>
      <li class="fonte-4 line-0 cor-08"><a href="https://www.instagram.com/lord_weu" class="cor-08">
        <i class="pi pi-instagram p-2" style="font-size: 1.5rem"></i></a></li>
      <li class="fonte-4 line-0 cor-08"><a href="https://github.com/weu-souza" class="cor-08"><i
        class="pi pi-github p-2" style="font-size: 1.5rem"></i></a></li>
      <li class="fonte-4 line-0 cor-08"><a href="https://www.linkedin.com/in/weuller-souza-6b49aa120/"
                                           class="cor-08"><i class="pi pi-linkedin p-2" style="font-size: 1.5rem"></i></a></li>
    </ul>
  </div>
</footer>
