<header class="header">
  <svg xmlns="http://www.w3.org/2000/svg" width="99" height="60" viewBox="0 0 99 60">
    <text id="Weu" transform="translate(0 47)" font-size="50" font-family="FiraSans-Bold, Fira Sans"
          font-weight="700" style="mix-blend-mode: darken;isolation: isolate">
      <tspan x="0" y="0">Weu</tspan>
    </text>
  </svg>
  <nav>
    <ul class="header-menu" data-menu="list" id="menu">
      <li><a routerLink="sobre" routerLinkActive="active-link" class="fonte-2 line-3 cor-02">Sobre mim</a></li>
      <li><a routerLink="experiencia" routerLinkActive="active-link" class="fonte-2 line-3 cor-02">Experiencia</a></li>
      <li><a routerLink="formacao" routerLinkActive="active-link" class="fonte-2 line-3 cor-02">Formação</a></li>
      <li><a routerLink="projetos" routerLinkActive="active-link" class="fonte-2 line-3 cor-02">Projetos</a></li>
    </ul>
  </nav>
</header>
