@use "../../shared/utils/scss/mixins.scss" as *;
@use "../../shared/utils/scss/variable.scss" as var;

main {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 80px;
    @include containerPages;

    .title-container {
        @include titleContainer;
    }

    .cards-container {
        display: flex;
        flex-direction: row;

        gap: 20px;
        background: var.$text-button;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 30px;

        .description-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h3 {
                font-size: 16px;
                @include subtitle;
            }

            p {
                width: 100%;
                font-size: 14px;
                text-align: justify;

                overflow-y: scroll;
                height: 100px;

                .scrool::-webkit-scrollbar {
                    width: 0px;

                }

                .scrool::-webkit-scrollbar-track {
                    margin-block: .5em;
                    border-radius: 100vw;
                }

                .scrool::-webkit-scrollbar-thumb {
                    background: #898989;
                    border-radius: 30px;

                }

                @include pageParagraph;
            }

            .scrool::-webkit-scrollbar {
                width: 0px;

            }

            .scrool::-webkit-scrollbar-track {
                margin-block: .5em;
                border-radius: 100vw;
            }

            .scrool::-webkit-scrollbar-thumb {
                background: #898989;
                border-radius: 30px;

            }
        }

        .skills-container {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                font-size: 16px;
                @include subtitle;
            }



            ul {
                display: flex;
                flex-flow: row wrap;
                gap: 10px;

                li {
                    border-radius: 10px;
                    background: var.$background-secondary;
                    padding: 5px;
                    font-size: 14px;
                    @include pageParagraph;
                }
            }

        }

        .year-container {
            align-self: flex-end;

            h3 {
                font-size: 14px;
                @include subtitle;
            }
        }

        @media (max-width:500px) {
            flex-direction: column;

        }
    }
}