@import "../../shared/utils/scss/mixins.scss";
@import "../../shared/utils/scss/variable.scss";

main {
    @include containerPages;

    .title-container {
        @include titleContainer;
    }

    .cards-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        background: $text-button;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 30px;

        .description-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h3 {
                @include subtitle;
                font-size: 16px;
            }

            p {
                width: 100%;
                @include pageParagraph;
                font-size: 14px;

                overflow-y: scroll;
                height: 100px;

                .scrool::-webkit-scrollbar {
                    width: 0px;

                }

                .scrool::-webkit-scrollbar-track {
                    margin-block: .5em;
                    border-radius: 100vw;
                }

                .scrool::-webkit-scrollbar-thumb {
                    background: #898989;
                    border-radius: 30px;

                }
            }

            .scrool::-webkit-scrollbar {
                width: 0px;

            }

            .scrool::-webkit-scrollbar-track {
                margin-block: .5em;
                border-radius: 100vw;
            }

            .scrool::-webkit-scrollbar-thumb {
                background: #898989;
                border-radius: 30px;

            }
        }

        .skills-container {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                @include subtitle;
                font-size: 16px;
            }



            ul {
                display: flex;
                flex-flow: row wrap;
                gap: 10px;

                li {
                    border-radius: 10px;
                    background: #fff;
                    padding: 5px;
                    @include pageParagraph;
                    font-size: 14px;
                }
            }

        }

        .year-container {
            align-self: flex-end;

            h3 {
                @include subtitle;
                font-size: 14px;
            }
        }
    }
}