<main>
  <section class="title-container">
    <h1>Experiencia</h1>
    <p>
      Aqui estão algumas expêriencias que Obtive no mercado de trabalho.
    </p>
  </section>

  <section >
    <div class="cards-container" *ngFor="let exp of experiencia">
      <div class="description-container">
        <h3>{{ exp.titulo }}</h3>
        <p class="scrool">{{ exp.descricao }}</p>
      </div>

      <div class="skills-container">
        <h3>{{ exp.cargo }}</h3>
        <ul>
          <li *ngFor="let ling of exp.linguagem">{{ ling }}</li>
        </ul>
      </div>
      <div class="year-container">
        <h3>{{ exp.ano }}</h3>
      </div>
    </div>
  </section>
</main>
