<main>
  <section class="title-container">
    <h1>{{ t('experience.exp_title') | async }}</h1>
    <p>
        {{ t('experience.exp_description') | async }}
    </p>
  </section>

  <section >
    <div class="cards-container" *ngFor="let exp of experiencia">
      <div class="description-container">
        <h3>{{ exp.titulo }}</h3>
        <p class="scrool">{{ exp.descricao }}</p>
      </div>

      <div class="skills-container">
        <h3>{{ exp.cargo }}</h3>
        <ul>
          <li *ngFor="let ling of exp.linguagem">{{ ling }}</li>
        </ul>
      </div>
      <div class="year-container">
        <h3>{{ exp.exp_ano }}</h3>
      </div>
    </div>
  </section>
</main>
