<section class="formacao " id="formacao" aria-label="formação">


  <div class="formacao-container">
    <h2 class="subtitulo cor-03">Formação</h2>

    <div>
      <p class="formacao-texto cor-05 fonte-4 line-4">
        Minha mais recente experiência acadêmica foi  <strong class=" cor-03">
        Sistemas de informação</strong> 🎓
        que estou cursando no goias. Além disso, mantenho-me sempre atualizado com cursos
        intensivos online.
      </p>

      <ul class="faculdade-lista">
        <li class="faculdade">
          <span class="faculdade-tipo fonte-1 cor-05">Bacharel</span>
          <h3 class="faculdade-curso fonte-2 line-5">Bacharelado em sistemas da informação</h3>
          <div class="faculdade-flex">
            <span class="faculdade-instituicao fonte-2 cor-05">IFG</span>
            <span class="faculdade-instituicao fonte-2 cor-05">2020/atual</span>
          </div>

        </li>

      </ul>

      <div class="formacao-extra">
        <div class="cursos">
          <h3 class="fonte-1 line-5 cor-010">Cursos Intensivos</h3>
          <ul>
            <li class="fonte-2 line-1">Cursos</li>
            <li class="fonte-2 line-1">angular <span>2022</span></li>
            <li class="fonte-2 line-1">spring <span>2022</span></li>
            <li class="fonte-2 line-1">java <span>2021</span></li>
          </ul>
        </div>

        <div class="idiomas">
          <h3 class="fonte-1 cor-010">Idiomas</h3>
          <ul>
            <li class="fonte-2 line-1 ">Inglês <span class="cor-05"> intermediário</span></li>
            <li class="fonte-2 line-1">Espanhol <span class="cor-05"> intermediário</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
