<footer class="footer" id="contato">
  <div class="footer-container">
    <p class="footer-texto fonte-4 line-3 cor-09">Estou disponível para novos projetos no
      momento. Entre em contato comigo e marcamos uma conversa 👋</p>
    <ul class="footer-contato">
      <li class="fonte-4 line-0 cor-08"><a href="mailto:weuller1561@gmail.com" class="cor-08">weuller1561@gmail.com </a>
      </li>
      <li class="fonte-4 line-0 cor-08">+55 61 982995230</li>
      <li class="fonte-4 line-0 cor-08"><a href="https://www.instagram.com/lord_weu" class="cor-08">
        @instagram</a></li>
      <li class="fonte-4 line-0 cor-08"><a href="https://github.com/weu-souza" class="cor-08"> github</a></li>
      <li class="fonte-4 line-0 cor-08"><a href="https://www.linkedin.com/in/weuller-souza-6b49aa120/"
                                           class="cor-08"> linkedin</a></li>
    </ul>
  </div>
</footer>
