<header class="header">
  <a  routerLink="sobre" routerLinkActive="active-link" class="fonte-2 line-3 cor-02 navegacao"><i class="pi pi-home p-2" style="font-size: 1rem"></i><span class="mobile">Inicio</span></a>
  <nav>
    <ul class="header-menu" data-menu="list" id="menu">
      <li><a routerLink="experiencia" routerLinkActive="active-link" class="fonte-2 line-3 cor-02 navegacao"><i class="pi pi-briefcase p-2" style="font-size: 1rem"></i><span class="mobile">Experiencia</span></a></li>
      <li><a routerLink="formacao" routerLinkActive="active-link" class="fonte-2 line-3 cor-02 navegacao"><i class="pi pi-book p-2" style="font-size: 1rem"></i><span class="mobile">Formação</span></a></li>
      <li><a routerLink="projetos" routerLinkActive="active-link" class="fonte-2 line-3 cor-02 navegacao"><i class="pi pi-folder p-2" style="font-size: 1rem"></i><span class="mobile">Projetos</span></a></li>
    </ul>
  </nav>
</header>
