<header class="header">
  <a  routerLink="sobre" routerLinkActive="active-link" class="fonte-2 line-3 cor-02 navegacao"><i class="pi pi-home p-2" style="font-size: 1rem"></i>Inicio</a>
  <nav>
    <ul class="header-menu" data-menu="list" id="menu">
      <li><a routerLink="experiencia" routerLinkActive="active-link" class="fonte-2 line-3 cor-02 navegacao"><i class="pi pi-briefcase p-2" style="font-size: 1rem"></i>Experiencia</a></li>
      <li><a routerLink="formacao" routerLinkActive="active-link" class="fonte-2 line-3 cor-02 navegacao"><i class="pi pi-book p-2" style="font-size: 1rem"></i>Formação</a></li>
      <li><a routerLink="projetos" routerLinkActive="active-link" class="fonte-2 line-3 cor-02 navegacao"><i class="pi pi-folder p-2" style="font-size: 1rem"></i>Projetos</a></li>
    </ul>
  </nav>
</header>
