<main class="introducao">
  <img src="/assets/img/weu-canva.jpg" alt="weuller" width="405" height="472">
  <div>
    <h1 class="fonte-5 line-2"> Desenvolvedor<br>full stack</h1>
    <div>
      <p class="experiencia-texto cor-01 fonte-4 line-4">
        Desenvolvedor Full Stack apaixonado por criar soluções de software inovadoras. Especializado em
        <strong class="cor-02">Angular</strong>, <strong class="cor-02">Java</strong>,<strong
        class="cor-02">Spring</strong>,<strong class="cor-02">JavaScript</strong>, <strong
        class="cor-02">TypeScript</strong>
        , com uma sólida experiência em desenvolvimento web e aplicativos. Comprometido
        em proporcionar resultados de alta qualidade, e apaixonado por aprender e crescer constantemente.
      </p>
      <strong class="cor-02"></strong>

    </div>
  </div>

</main>
