@import '../../shared/utils/scss/mixins.scss';
@import '../../shared/utils/scss/variable.scss';

main {
    @include containerPages;
    justify-content: space-around;

    .title-container {
        @include titleContainer;
    }

    .text-container {
        display: flex;
        flex-flow: column;
        gap: 20px;
        padding: 20px;

        h3 {
            @include subtitle;
            color: $buttonBg ;
        }

        ul {
            li {
                @include pageParagraph;
                margin-left: 50px;
                list-style: circle;
            }
        }

        p {
            @include pageParagraph;
        }
    }
}