<main>
    <section class="title-container">
        <h1>Sobre mim</h1>
        <p>Olá, me chamo Weuller e bem-vindo(a) ao meu portfólio. Aqui você encontrará informações sobre minha carreira
            profissional e de estudos no mundo do desenvolvimento, mas começando um pouco sobre mim para você me
            conhecer melhor, eu tenho atualmente 27 anos e estudo desenvolvimento faz uns 5 anos, comecei meus estudos
            em 2020 no Instituto Federal de Goiás (IFG) onde comecei a ter interesse pela área de desenvolvimento
            resolvendo problemas simples de algoritmos, em 2021 me apresentaram uma área que até então eu achava que era
            totalmente diferente que é o desenvolvimento web onde desde então venho me especializando desenvolvendo
            aplicações, em 2024 eu tirei comecei a estudar para tirar a certificação clf-c02 da aws onde no meio do
            processo subi um servidor linux ec2 na aws e coloquei um site online como forma de aprendizagem, hoje em dia
            o site não está mais online, e consegui tirar a certificação.
        </p>
    </section>
    <section class="text-container">
        <h3>Skills</h3>
        <div class="skill-container">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg" />
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg" />
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg" />
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" />
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" />
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angularjs/angularjs-plain.svg" />
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original-wordmark.svg" />
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original-wordmark.svg" />
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" />
        </div>

    </section>
</main>