<main>
    <section class="title-container">
        <h1>Sobre mim</h1>
        <p>Sou desenvolvedor front end comecei meus estudos em 2021 e desde então venho me especializando no
            desenvolvimento, tive a oportunidade de tirar a certificação da aws que felizmente fui aprovado, dedico meu
            tempo estudando para me tornar um melhor profissional.</p>
    </section>
    <section class="text-container">
        <h3>Skills</h3>
        <ul>
            <li>Html</li>
            <li>Css</li>
            <li>Scss</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>Angular</li>
            <li>React</li>
            <li>Java</li>
            <li>Aws</li>
        </ul>
        <h3>Como usar o site</h3>
        <p>No menu superior tem 4 menus, cada um levando para uma pagina diferente com algumas informações sobre mim!
        </p>
        <h3>Experiência</h3>
        <ul>
            <li>Informações sobre minhas experiências profissionais.</li>
        </ul>
        <h3>Formação</h3>
        <ul>
            <li>Informações sobre minha faculdade.</li>
            <li>informações sobre meus cursos.</li>
        </ul>
        <p>Os cursos tem um link que redireciona para os certificados de cada curso.</p>
        <h3>Projetos</h3>
        <ul>
            <li>Informações sobre os projetos autorais meus</li>
        </ul>
        <p>Existem 2 botões, um levando para o respositorio do github, chamado github, mostra um video sem audio
            mostrando as funcionalidades do projeto.</p>
        <h3>Contato</h3>
        <ul>
            <li>Minhas formas de contato.</li>
            <li>Formulario para me enviar email.</li>
        </ul>
        <p>Clicando nos icones das redes sociais você sera redirecionada para meu perfil nas redes sociais, ao preencher
            o formulario, adicione seu email no campo email que será enviado um email para mim e eu retornarei assim que
            eu ver.</p>
    </section>
</main>