@use '../../shared/utils/scss/mixins.scss' as *;
@use '../../shared/utils/scss/variable.scss' as var;

main {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 80px;



    .title-container {
        display: flex;
        flex-flow: column;
        gap: 20px;



        .hero {
            padding: 20px;
            gap: 20px;
            background-color: rgba(0, 0, 0, 0.04);
            border-radius: 10px;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
            border: 1px solid #e2e2e2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1 {
            align-self: left;
            @include Title;
        }


        p {
            color: var.$primary;
            text-align: justify;
            font-size: 16px;
            max-width: 120ch;
            padding: 10px;
            @include poppins-regular;
        }

        @media (max-width:800px) {
            margin: 0 20px;

        }

    }

    .text-container {
        display: flex;
        flex-flow: column;
        gap: 20px;
        padding: 20px;

        background-color: rgba(0, 0, 0, 0.04);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
        border: 1px solid #e2e2e2;

        border-radius: 10px;

        h3 {
            color: var.$buttonBg ;
            @include subtitle;

        }


        .skill-container {
            display: flex;
            flex-flow: row wrap;
            gap: 20px;
            padding: 20px;
            justify-content: center;

            .image-container {
                background: light-dark(#d9d9d9,#fff);
                border-radius: 50%;
                padding: 20px;

                img {
                    width: 80px;

                    @media (max-width:500px) {
                        width: 60px;
                    }

                }
            }

        }



        @media (max-width:800px) {
            margin: 0px 20px 20px 20px;

        }
    }

    @media (max-width:800px) {
        grid-template-columns: 1fr;
    }

}