@use '../../../../shared/utils/scss/mixins.scss' as *;
@use '../../../../shared/utils/scss/variable.scss' as var;
.course-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .course-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var.$text-button;
        
        padding: 10px 20px;
        border-radius: 20px;
        @include boxShadow(1px, 1px, 5px, 1px, 0.3);

        h2 {
            font-size: 18px;
            @include subtitle;
        }

        button {
            border: none;
            @include button(3px, 16px);
        }

    }

    .course-bottom {
        background: var.$text-button;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-radius: 16px;
        margin-bottom: 10px;

        h3 {
            font-size: 16px;
            @include subtitle;
        }

        p {
            font-size: 14px;
            @include pageParagraph;
        }
        a{
            font-size: 14px;
            border-bottom: 1px solid var.$text-button;
            @include pageParagraph;
        }
        a:hover{
            border-bottom: 1px solid var.$primary;
            
        }

        .course-name {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .course-link {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

    }
}