@import "../../shared/utils/scss/mixins.scss";
@import "../../shared/utils/scss/variable.scss";

main {
    @include containerPages;

    .title-container {
        @include titleContainer;
    }

    .card-container {
        display: flex;
        flex-flow: row wrap;
        gap: 30px;
        margin-bottom: 20px;

        @media (max-width:500px) {
            .cards {
                margin: 0 10px;
            }
        }

        .cards {
            width: 400px;
            @media (max-width:500px) {
                width: 290px;
                margin: 0 auto;
            }
            background: $text-button;
            @include boxShadow(1px, 1px, 5px, 2px, 0.3);
            padding: 20px;
            display: grid;
            gap: 30px;
            border-radius: 10px;
            h3 {
                @include subtitle;
            }

            p {
                @include pageParagraph;
            }

            .button-container {
                display: flex;
                flex-flow: wrap row;
                gap: 20px;
                justify-content: space-between;
                align-items: end;
                a {
                    @include button(10px, 30px);
                    @media (max-width:500px) {
                        @include button(10px, 20px);
                    }
                }
            }

        }
    }
}

.scrool {
    overflow-y: scroll;
    height: 100px;
}


.scrool::-webkit-scrollbar {
    width: 0px;

}

.scrool::-webkit-scrollbar-track {
    margin-block: .5em;
    border-radius: 100vw;
}

.scrool::-webkit-scrollbar-thumb {
    background: #898989;
    border-radius: 30px;

}


.scrool::-webkit-scrollbar {
    width: 0px;

}

.scrool::-webkit-scrollbar-track {
    margin-block: .5em;
    border-radius: 100vw;
}

.scrool::-webkit-scrollbar-thumb {
    background: #898989;
    border-radius: 30px;

}

.modal{
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
  
}