<main>
  <section class="title-container">
    <h1>Projetos</h1>
    <p>
      Aqui estão alguns projetos que eu fiz ao longo da minha jornada como dev.
    </p>
   
  </section>
  <section class="card-container">
    <div class="cards" *ngFor="let item of projeto">
      <img [src]="item.imagem" [alt]="item.titulo" />
      <h3>{{ item.titulo }}</h3>
      
      <div class="scrool">
        <p>{{ item.descricao }}</p>
      </div>

      <div class="button-container">
        <a (click)="openModal(item.video)">Video</a>
        <a [href]="item.link">Github</a>
      </div>

    </div>
  </section>
</main>
<p-dialog  [modal]="true" [(visible)]="visible" class="div-modal" [style]="{ width: '800px' }">
  <div *ngIf="visible" class="modal">
    <app-video [title]="videoTitle"></app-video>
  </div>
</p-dialog>
