.projetos {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia-texto {
  max-width: 40ch;
  margin-bottom: 60px;
}

.link {
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}
.link:hover {
  border-bottom:2px solid #000;
}

.projeto-container {
  display: grid;
  max-width: 600px;
  grid-template-rows: 30px;

}

.projeto-descricao {
  display: flex;
  flex: 0 1 200px;
  flex-wrap: wrap;
}

.projeto-descricao img {
  width: 100%;
  padding: 20px;
}
