<section class="projetos">
  <h2 class="subtitulo cor-06"> Projetos</h2>
  <div class="projeto-container">
    <h2 class="cor-05 fonte-4">Lanchonete</h2>
    <div class="projeto-descricao">
      <img src="/assets/img/lanchonete.jpg" alt="imagem do projeto lanchonete">
      <p class="fonte-2 cor-05">
        O site oferece uma interface que simula o cardápio de uma lanchonete com 2 tipos de usuários, um usuário que
        vai a fazer a compra do produto e um usuário que vai fazer a adição dos itens do cardápio o sistema permite
        adicionar uma categoria para cada produto, adicionar os produtos em suas categorias e adicionar promoções,
        itens que o cliente desejar adicionar têm como adicionar os produtos no carrinho e fazer o cadastro dos dois
        tipos de usuário para conhecer<a href="https://weu-souza.github.io/lanchonete" class="link cor-03"> Clique aqui</a>
      </p>
    </div>
  </div>
</section>
