@use './app/shared/utils/scss/variable.scss' as var;
@use './app/shared/utils/scss/mixins.scss' as *;

.p-toast * {
  font-family: 'Inter', sans-serif !important;
}

.p-toggleswitch-slider {
  background-color: var.$text-header !important;
  border: 2px solid var.$green-br !important;
}

.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
  background-color: var.$text-header !important;
  border: 2px solid var.$red-eu !important;
}

/* reset css */
body,
input,
h1,
h2,
h3,
h4,
a,
li,
ul,
ol,
textarea,
label,
span,
p {
  margin: 0;
  border: 0;
  padding: 0;
}

input {
  outline: none;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* hide some components */
.hide {
  display: none;
}

/* replace background color of some components */
.separator {
  background: #000;
}

/* remove arrow of input type number  */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}