<section class="experiencia" id="experiencia" aria-label="Experiência">
  <h2 class="subtitulo cor-06"> Experiência</h2>
  <div>
    <div class="empresa">
      <span class="empresa-ano cor-01 fonte-1"> 2060</span>
      <h3 class="empresa-titulo fonte-2 line-1">Primeira Empresa</h3>
      <span class="empresa-titulo fonte-2 line-1">Desenvolvedor Junior</span>
      <p class=" cor-01 fonte-1 line-5">detalhes sobre o meu projeto em primeira empresa...</p>
      <ul class="empresa-habilidades">
        <li class="fonte-1 line-5">Habilidade</li>
        <li class="fonte-1 line-5">Habilidade</li>
        <li class="fonte-1 line-5">Habilidade</li>
      </ul>
    </div>

    <div class="empresa">
      <span class="empresa-ano cor-01 fonte-1"> 2052</span>
      <h3 class="empresa-titulo fonte-2 line-1">Segunda Empresa</h3>
      <span class="empresa-titulo fonte-2 line-1">Estagiário</span>
      <p class=" cor-01 fonte-1 line-5">detalhes sobre o meu projeto em segunda empresa...</p>
      <ul class="empresa-habilidades ">
        <li class="fonte-1 line-5">Habilidade</li>
        <li class="fonte-1 line-5">Habilidade</li>
        <li class="fonte-1 line-5">Habilidade</li>
      </ul>
    </div>

    <div class="empresa">
      <span class="empresa-ano cor-01 fonte-1">  2099</span>
      <h3 class="empresa-titulo fonte-2 line-1">Terceira Empresa</h3>
      <span class="empresa-titulo fonte-2 line-1">Desenvolvedor Junior</span>
      <p class=" cor-01 fonte-1 line-5 ">detalhes sobre o meu projeto em terceira empresa...</p>
      <ul class="empresa-habilidades">
        <li class="fonte-1 line-5">Habilidade</li>
        <li class="fonte-1 line-5">Habilidade</li>
        <li class="fonte-1 line-5">Habilidade</li>
      </ul>
    </div>
  </div>

</section>
