.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia-texto {
  max-width: 40ch;
  margin-bottom: 60px;

}
.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: var(--cor-07);
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  border-bottom-right: 4px solid var(--cor-07);

}
.link {
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}
.link:hover {
  border-bottom:2px solid #000;
}
.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  /*font-size: 0.875rem;*/
  width: 80px;
}

.empresa-titulo {
  /*font-size: 1.125rem;*/
  /*line-height: 1.1;*/
  font-weight: bold;
}

.empresa-texto {
  /*font-size: .875rem;*/
  /*line-height: 1.4;*/

}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  /*font-size: .875rem;*/
  /*line-height: 1.4;*/
  border-radius: 4px;
  background: var(--cor-08);
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;

  }

  .experiencia .subtitulo {
    color: #141414;
  }

  .experiencia-texto {
    font-size: 1.25rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;

  }

  .empresa-ano::before {
    content: "Ano: ";
  }

  .empresa:hover {
    border: none;
  }

}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
