.projetos {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 800px) {
  .projetos {
    grid-template-columns: 1fr;
    gap: 40px;

  }

  .projetos .subtitulo {
    color: #141414;
  }


}

@media (max-width: 400px) {
  .projetos {
    grid-template-columns: 1fr;

  }
}

